.activeContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.iconBox {
  width: 50px;
  display: flex;
  justify-content: space-between;
}

.listLabel {
  text-transform: uppercase;
}

.selectedItem {
  display: flex;
  justify-content: space-between;
}

.listItem {
  border-radius: 8px;
  margin-bottom: 4px;
}
