.containerAlt {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;

  flex-direction: column;
  min-width: 300px;
  border: 1px solid var(--bg-blue);
  border-radius: 8px;
  margin: 8px;
  padding: 4px;
  background-color: var(--pokeball-white);
  opacity: 0.9;
}

.main {
  min-height: 90vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  background-color: var(--pokeball-white);
  opacity: 0.6;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media screen and (max-width: 864px) {
  .buttonLabel {
    font-size: 14px;
  }
}

@media screen and (max-width: 656px) {
  .containerAlt {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
