.containerAlt {
  display: flex;
  justify-content: center;
}

.content {
  min-width: 300px;
  border: 1px solid var(--bg-blue);
  border-radius: 8px;
  margin: 8px;
  padding: 4px;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media screen and (max-width: 864px) {
  .buttonLabel {
    font-size: 14px;
  }
}
